/*  your css code here. If applicable */
body{
	background-color: skyblue;
}

.st{
	background-color: black;
	color: white;
}

.last{
	color: red;
}

li:first-child{
	background-color: white;
}

li:last-child{
	background-color: white;
}

li:nth-child(even){
	background-color: stalegray;
}

li:nth-child(3){
	background-color: pink;
}
